<div>Actuellement</div>
<div>
<% Playlist.all.each do |playlist| %>

<%= playlist.title %>
<% playlist.playlist_sound.each do |play_sound| %>
<%= play_sound.sound_id %>
<%= play_sound.order %>

<% end %>

<% end %>
</div>

<%= render "admin/playlist_sounds/new" %>
