<button id="upload_mp3" class="cloudinary-button">Upload mp3</button>
<button id="upload_poster" class="cloudinary-button">Upload image</button>

  <image id="preview"></image>

<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>



<script type="text/javascript">  
	var mp3_widget = cloudinary.createUploadWidget({ 
		cloudName: "dvhymcfm3", uploadPreset: "msg2xcck", folder: "radio_ulis/audio", multiple: false }, (error, result) => { 

			if (result.info.url != null) {
				//updateSoundSource(result.info.url);
			}
		});


	document.getElementById("upload_mp3").addEventListener("click", function(){
		mp3_widget.open();
	}, false);

	var poster_widget = cloudinary.createUploadWidget({ 
		cloudName: "dvhymcfm3", uploadPreset: "msg2xcck", folder: "radio_ulis/poster", multiple: false }, (error, result) => { 

			if (result.info.url != null) {
				console.log(result.info.url);
				updateSoundPoster(result.info.url);

				$("#preview").attr('src', result.info.url);
			}
		});


	document.getElementById("upload_poster").addEventListener("click", function(){
		poster_widget.open();
	}, false);


	function updateSoundSource(url) {

		var fd = new FormData();
		fd.append('source', url);
		Rails.ajax({
			type: "PUT",
			url: "/sounds/#{params[:id]}",
			data: fd
		});

	}

	function updateSoundPoster(url) {

		var fd = new FormData();
		fd.append('poster', url);
		Rails.ajax({
			type: "PUT",
			url: "/sounds/#{params[:id]}",
			data: fd
		});

	}

	function testUpload(url) {


		$.ajax({
			type: "POST",
			url: "/sounds/34",
			success: function(data) {
				console.log(data);
			}
		});
	}


</script>


