<div class="radio-player-ulis" id="radio_player">
	<div class="flex-player">
		<div class="photo-player-section">
			<img id="photo-player" class="photo"></img>
		</div>
		
		<div class="name-sound" id="title-js">

		</div>
	<div class="audio-player">
		<audio controls="true" controlsList="nodownload" src="" type="audio/mpeg">
		</audio>
	</div>
</div>
</div>