<div class="section-sounds">
	<% @sounds.each do |sound| %>
	<div class="section-sound">
		<div class="img-sound">
			<img src="<%= sound.poster %>"></img>
		</div>
		<div class="title-sound">
			<h1><%= sound.title %></h1>
		</div>
		
		<div class="audio-sound">
			<audio controls="true" controlsList="nodownload" src="<%= sound.source %>" type="audio/mpeg"></audio>
		</div>
	</div>
	<% end %>
</div>

<div class="podcast-item "><div class="podcast-image lazyloaded" data-bg="http://sons-audioblogs.arte.tv/audioblogs/v2/sons/137382/138846/origin_138846_gAiPj.jpeg" style="background-image: url(&quot;http://sons-audioblogs.arte.tv/audioblogs/v2/sons/137382/138846/origin_138846_gAiPj.jpeg&quot;);"></div><div class="podcast-info"><div class="title"><a href="/blog/137382/podcast/138846/vercingetorix-patricia-et-laurence"> Vercingétorix - Patricia et Laurence</a></div><ul><li><span>02:16</span></li></ul><p></p></div><div class="action"><span class="play-icon"><span class="play-icon__svg"><div><!--?xml version="1.0" encoding="utf-8"?-->
<!-- Generator: Adobe Illustrator 22.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve">
<g>
	<path d="M45.6,29.2l-22-15c-0.3-0.2-0.7-0.2-1-0.1C22.2,14.3,22,14.6,22,15v30c0,0.4,0.2,0.7,0.5,0.9C22.7,46,22.8,46,23,46
		c0.2,0,0.4-0.1,0.6-0.2l22-15c0.3-0.2,0.4-0.5,0.4-0.8S45.8,29.4,45.6,29.2z M24,43.1V16.9L43.2,30L24,43.1z"></path>
	<path d="M30,0C13.5,0,0,13.5,0,30s13.5,30,30,30s30-13.5,30-30S46.5,0,30,0z M30,58C14.6,58,2,45.4,2,30S14.6,2,30,2s28,12.6,28,28
		S45.4,58,30,58z"></path>
</g>
</svg>
</div></span><svg height="0" width="0" aria-hidden="true" focusable="false"><defs><linearGradient id="first-gradient" x2="1" y2="1"><stop offset="0%" stop-color="#FFBE00"></stop><stop offset="100%" stop-color="#ED444F"></stop></linearGradient></defs></svg></span></div><div class="podcast-visualizer"><div class="sound-spectrum"><svg viewBox="0 0 100 100" class="waveform-container" preserveAspectRatio="none"><rect clip-path="url(#0.141727838312890152)" class="waveform-bg" x="0" y="0" height="100" width="100" fill="url(#bar-gradient)"></rect><rect clip-path="url(#0.141727838312890152)" class="waveform-progress" x="0" y="0" height="100"></rect><rect clip-path="url(#0.141727838312890152)" class="waveform-hover" y="0" height="100" visibility="hidden"></rect></svg><svg height="0" width="0"><defs><clipPath id="0.141727838312890152"><rect x="0.1" y="38" width="0.8" height="62"></rect><rect x="1.1" y="10" width="0.8" height="90"></rect><rect x="2.1" y="78" width="0.8" height="22"></rect><rect x="3.1" y="48" width="0.8" height="52"></rect><rect x="4.1" y="56.00000000000001" width="0.8" height="43.99999999999999"></rect><rect x="5.1" y="70" width="0.8" height="30"></rect><rect x="6.1" y="0" width="0.8" height="100"></rect><rect x="7.1" y="47" width="0.8" height="53"></rect><rect x="8.1" y="0" width="0.8" height="100"></rect><rect x="9.1" y="76" width="0.8" height="24"></rect><rect x="10.1" y="49" width="0.8" height="51"></rect><rect x="11.1" y="21" width="0.8" height="79"></rect><rect x="12.1" y="38" width="0.8" height="62"></rect><rect x="13.1" y="42.00000000000001" width="0.8" height="57.99999999999999"></rect><rect x="14.1" y="65" width="0.8" height="35"></rect><rect x="15.1" y="10" width="0.8" height="90"></rect><rect x="16.1" y="44.00000000000001" width="0.8" height="55.99999999999999"></rect><rect x="17.1" y="0" width="0.8" height="100"></rect><rect x="18.1" y="49" width="0.8" height="51"></rect><rect x="19.1" y="53" width="0.8" height="47"></rect><rect x="20.1" y="44.99999999999999" width="0.8" height="55.00000000000001"></rect><rect x="21.1" y="51" width="0.8" height="49"></rect><rect x="22.1" y="0" width="0.8" height="100"></rect><rect x="23.1" y="59" width="0.8" height="41"></rect><rect x="24.1" y="49" width="0.8" height="51"></rect><rect x="25.1" y="59" width="0.8" height="41"></rect><rect x="26.1" y="7" width="0.8" height="93"></rect><rect x="27.1" y="36" width="0.8" height="64"></rect><rect x="28.1" y="69" width="0.8" height="31"></rect><rect x="29.1" y="24" width="0.8" height="76"></rect><rect x="30.1" y="25" width="0.8" height="75"></rect><rect x="31.1" y="67" width="0.8" height="32.99999999999999"></rect><rect x="32.1" y="61" width="0.8" height="39"></rect><rect x="33.1" y="56.00000000000001" width="0.8" height="43.99999999999999"></rect><rect x="34.1" y="44.99999999999999" width="0.8" height="55.00000000000001"></rect><rect x="35.1" y="49" width="0.8" height="51"></rect><rect x="36.1" y="0" width="0.8" height="100"></rect><rect x="37.1" y="73" width="0.8" height="27"></rect><rect x="38.1" y="24" width="0.8" height="76"></rect><rect x="39.1" y="24" width="0.8" height="76"></rect><rect x="40.1" y="65" width="0.8" height="35"></rect><rect x="41.1" y="71" width="0.8" height="29.000000000000004"></rect><rect x="42.1" y="17" width="0.8" height="83"></rect><rect x="43.1" y="15" width="0.8" height="85"></rect><rect x="44.1" y="26" width="0.8" height="74"></rect><rect x="45.1" y="0" width="0.8" height="100"></rect><rect x="46.1" y="18" width="0.8" height="82"></rect><rect x="47.1" y="6" width="0.8" height="94"></rect><rect x="48.1" y="80" width="0.8" height="20"></rect><rect x="49.1" y="62" width="0.8" height="38"></rect><rect x="50.1" y="35" width="0.8" height="65"></rect><rect x="51.1" y="49" width="0.8" height="51"></rect><rect x="52.1" y="60" width="0.8" height="40"></rect><rect x="53.1" y="0" width="0.8" height="100"></rect><rect x="54.1" y="21" width="0.8" height="79"></rect><rect x="55.1" y="42.00000000000001" width="0.8" height="57.99999999999999"></rect><rect x="56.1" y="67" width="0.8" height="32.99999999999999"></rect><rect x="57.1" y="44.00000000000001" width="0.8" height="55.99999999999999"></rect><rect x="58.1" y="62" width="0.8" height="38"></rect><rect x="59.1" y="67" width="0.8" height="32.99999999999999"></rect><rect x="60.1" y="82" width="0.8" height="18"></rect><rect x="61.1" y="31" width="0.8" height="69"></rect><rect x="62.1" y="0" width="0.8" height="100"></rect><rect x="63.1" y="72" width="0.8" height="28.000000000000004"></rect><rect x="64.1" y="0" width="0.8" height="100"></rect><rect x="65.1" y="67" width="0.8" height="32.99999999999999"></rect><rect x="66.1" y="74" width="0.8" height="26"></rect><rect x="67.1" y="5" width="0.8" height="95"></rect><rect x="68.1" y="22" width="0.8" height="78"></rect><rect x="69.1" y="56.00000000000001" width="0.8" height="43.99999999999999"></rect><rect x="70.1" y="15" width="0.8" height="85"></rect><rect x="71.1" y="0" width="0.8" height="100"></rect><rect x="72.1" y="0" width="0.8" height="100"></rect><rect x="73.1" y="53" width="0.8" height="47"></rect><rect x="74.1" y="13" width="0.8" height="87"></rect><rect x="75.1" y="36" width="0.8" height="64"></rect><rect x="76.1" y="0" width="0.8" height="100"></rect><rect x="77.1" y="50" width="0.8" height="50"></rect><rect x="78.1" y="21" width="0.8" height="79"></rect><rect x="79.1" y="83" width="0.8" height="17"></rect><rect x="80.1" y="15" width="0.8" height="85"></rect><rect x="81.1" y="42.00000000000001" width="0.8" height="57.99999999999999"></rect><rect x="82.1" y="33" width="0.8" height="67"></rect><rect x="83.1" y="51" width="0.8" height="49"></rect><rect x="84.1" y="44.00000000000001" width="0.8" height="55.99999999999999"></rect><rect x="85.1" y="52" width="0.8" height="48"></rect><rect x="86.1" y="3.999999999999986" width="0.8" height="96.00000000000001"></rect><rect x="87.1" y="38" width="0.8" height="62"></rect><rect x="88.1" y="3.999999999999986" width="0.8" height="96.00000000000001"></rect><rect x="89.1" y="44.99999999999999" width="0.8" height="55.00000000000001"></rect><rect x="90.1" y="85" width="0.8" height="15"></rect><rect x="91.1" y="22" width="0.8" height="78"></rect><rect x="92.1" y="0" width="0.8" height="100"></rect><rect x="93.1" y="13" width="0.8" height="87"></rect><rect x="94.1" y="78" width="0.8" height="22"></rect><rect x="95.1" y="40" width="0.8" height="60"></rect><rect x="96.1" y="40" width="0.8" height="60"></rect><rect x="97.1" y="28.999999999999986" width="0.8" height="71.00000000000001"></rect><rect x="98.1" y="49" width="0.8" height="51"></rect><rect x="99.1" y="67" width="0.8" height="32.99999999999999"></rect></clipPath></defs><defs><linearGradient id="bar-gradient" x1="0" y1="100%" x2="0" y2="0%"><stop offset="5%" stop-color="#FFBE00"></stop><stop offset="95%" stop-color="#c1c1c1"></stop></linearGradient></defs></svg></div><div class="stats"><div><div><!--?xml version="1.0" encoding="iso-8859-1"?-->
<!-- Generator: Adobe Illustrator 22.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 52 52" style="enable-background:new 0 0 52 52;" xml:space="preserve" width="24" height="24">
<g>
	<path d="M51.9,16.2C51.2,7.9,45.2,1.8,37.8,1.8c-4.9,0-9.4,2.7-12,6.9C23.3,4.4,19,1.8,14.2,1.8C6.8,1.8,0.8,7.9,0.1,16.2
		c-0.1,0.4-0.3,2.3,0.4,5.5c1.1,4.6,3.6,8.7,7.2,12l18.1,16.4l18.4-16.4c3.6-3.3,6.1-7.4,7.2-12C52.2,18.6,52,16.6,51.9,16.2z"></path>
</g>
</svg>
</div> 0 </div><div><div><!--?xml version="1.0" encoding="iso-8859-1"?-->
<!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->

<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="287.386px" height="287.386px" viewBox="0 0 287.386 287.386" style="enable-background:new 0 0 287.386 287.386;" xml:space="preserve">
<g>
	<g>
		<path d="M62.743,155.437v98.42c0,5.867,4.741,10.605,10.605,10.605c5.854,0,10.605-4.738,10.605-10.605v-98.42
			c0-5.856-4.751-10.605-10.605-10.605C67.484,144.832,62.743,149.576,62.743,155.437z"></path>
		<path d="M29.456,264.582h23.351v-116.85c0.064-0.56,0.166-1.119,0.166-1.693c0-50.412,40.69-91.42,90.698-91.42
			c50.002,0,90.692,41.008,90.692,91.42c0,0.771,0.113,1.518,0.228,2.263v116.28h23.354c16.254,0,29.442-13.64,29.442-30.469
			v-60.936c0-13.878-8.989-25.57-21.261-29.249c-1.129-66.971-55.608-121.124-122.45-121.124
			c-66.86,0-121.347,54.158-122.465,121.15C8.956,147.638,0,159.32,0,173.187v60.926C0,250.932,13.187,264.582,29.456,264.582z"></path>
		<path d="M203.454,155.437v98.42c0,5.867,4.748,10.605,10.604,10.605s10.604-4.738,10.604-10.605v-98.42
			c0-5.856-4.748-10.605-10.604-10.605C208.191,144.832,203.454,149.576,203.454,155.437z"></path>
	</g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
</div> 14 </div></div></div></div>


    
    

        

                    
        
        