
<div class="tab__content">
    <section class="switchable ">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 switchable__text">
                    <ul class="accordion accordion-1" style="min-height: 0px;">

                        <% @sounds.each do |sound| %>
                        <li>
                            <div class="accordion__title">
                                <span class="h5"><%= sound.title %></span>
                            </div>
                            <div class="accordion__content">
                                <div class="section-sound">
                                    <div class="img-sound">
                                        <img src="<%= sound.poster %>"></img>
                                    </div>
                                    <div class="audio-sound">
                                        <audio controls="true" controlsList="nodownload" src="<%= sound.source %>" type="audio/mpeg">
                                        </audio>
                                    </div>
                                </div>

                            </div>
                        </li>
                        <% end %>
                        
                    </ul>
                    <!--end accordion-->
                </div>
                <div class="col-md-5 col-sm-6">
                   <%= image_tag 'product-single-large-1.jpg', class: 'border--round box-shadow-wide' %>

               </div>
           </div>
           <!--end of row-->
       </div>
       <!--end of container-->
   </section>
</div>
