

.playlists {


	.section-playlists {

		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;


	}
	.section-sounds {
		display: flex;
		align-items: center;
		justify-content: center;
		
		flex-direction:column;

	}

	.section-sounds > div {
		margin:15px;
	}
	.section-sound > div {
		margin:15px;
	}

	.section-sound {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction:row;

	}

	.img-sound > img {
		width:25%;
	}
}