

.playlists {


	.section-playlists {

		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;


	}
	.section-sounds {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction:column;
		width:100%;

	}

	.section-sounds > div {
		margin-top:5px;
		margin-bottom: 5px;
	}
	

	.section-sound {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction:row;

	}

	.title-sound {
		width:400px;
	}

	.img-sound > img {
		height:50px;
	}
	.play-sound > img {
		height:40px;
		cursor: pointer;
		&:hover {
			filter:grayscale(100);
		}
	}
}