.radio-player-ulis {

	position: fixed;
	bottom:0;
	width:100%;
	height:115px;
	padding:10px;
	background-color: white;
	    box-shadow: 2px -1px 4px 0px black;
}

.audio-player {
	width:75%;
} 
.audio-player > audio {

	width:100%;

	&:focus {

		border:none!important;
	}
}

.flex-player {
	display:flex;
	align-items: center;
	

	
}

.photo {
	height:100px;
}