.radio-player-ulis {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 15vh;
    padding: 5px;
    background-color: white;
    box-shadow: 2px -1px 4px 0px black;
}
.audio-player {
    width: 70%;
}
.flex-player > div {
	margin-left:5px;
	margin-right:5px;
}
.audio-player>audio {
    width: 100%;
}
.flex-player {
    display: flex;
    align-items: center;
}
.photo {
    height: 100px;
}

.photo-player-section {

	width:150px;
}

.name-sound {

	max-width:200px;
}

.container-text-section {

    position: relative;
        z-index: 2;
        width: 1170px;
        margin-left:50px;
}

.une-title {

    font-weight:bold;
}